@import "~normalize.css";

// FONTS
@import "./fonts.scss";

// VARIABLES
$black: #000000;
$white: #ffffff;
$grey: #666666;
$light-grey: #cccccc;
$middle-grey: #f2f2f2;
$main-color: tomato;
$dark-red: #f9572e;
$dark-green: #33b5a3;
$light-green: #63d2c1;

// INITIAL

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.container {
  margin: 0 auto;
  max-width: 1880px;
  height: 100%;
  text-align: center;

  overflow: hidden;
}

// FILES

@import "components/welcome";
@import "components/main";
@import "components/section-title";
@import "components/button";
@import "components/logo";
@import "components/promo";
@import "components/advantages";
@import "components/slider";
@import "components/form";
@import "components/footer";
@import "components/modal";
