@import "~normalize.css";

// FONTS
@import "./fonts.scss";

// VARIABLES
$black: #000000;
$white: #ffffff;
$grey: #666666;
$main-color: tomato;
$dark-red: #F9572E;

// INITIAL

* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1880px;
  height: 100%;
  text-align: center;
}

// FILES

@import "components/welcome";
@import "components/main";
@import "components/button";
@import "components/logo";
@import "components/promo";
