// colors
$basic-white: #ffffff;
$basic-black: #000000;
$basic-text: #666666;
$basic-grey: #cdcdcd;
$basic-hover: #f9572e;

// fonts
$primary-font: "Muller", sans-serif;

// Viewports
$mobile-width: 320px;
$tablet-width: 767px;
$desktop-width: 1023px;
$large-width: 1439px;
