// colors
$basic-white: #ffffff;
$basic-black: #000000;
$basic-text: #666666;
$basic-turquoise: #33b5a3;
$light-turquoise: #63d2c1;
$basic-grey: #cdcdcd;
$basic-grey-2: #cccccc;
$darck-grey: #f2f2f2;
$basic-hover: #f9572e;
$basic-hover-2: #ff7b59;

// fonts
$primary-font: "Muller", sans-serif;

// Viewports
$mobile-width: 320px;
$tablet-width: 767px;
$desktop-width: 1023px;
$large-width: 1439px;
